body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
/*page in specified borders*/
#whole-page {
  box-shadow: 0px 5px 30px #dfdfdf;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-right: 15%;
  margin-left: 15%;
  padding-left: 3%;
  padding-right: 3%;
}

/*style main heafing of the website*/
#heading {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Baskerville Old Face';
    text-shadow: 1.5px 1.5px 0.3px #191919, -1.5px -1.5px 0.3px #f87262;
}

#heading:hover {
    color: #eeeeee;
    text-shadow: 2px 2px 0 #191919, -2px -2px 0 #f87262;
}

/*style navigation panel view*/
header div, footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div div {
  float: right;
}

header div div input[type="text"] {
  width: 200px;
  height: 36px;
}

header div div input[type="text"]:hover {
  width: 400px;
}

/*move navigation link to one side*/
.navigation div{
  float: left;
}

/*set flexbox layout for panel with favorites*/
.favs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

label {
    color: #999999;
    margin: 10px;
    font-size: 16px;
}

label:hover {
  color: black;
}
/*style headings*/
h2 {
    font-size: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: auto;
    margin-bottom: 30px;
    color: #222222;
}

h4 {
    font-size: 22px;
    display: inline-block;
    max-width: min-content;
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

h5 {
    color: #8897a7;
    font-size: 14px;
    margin-bottom: 5px;
}

h6 {
    font-size: 12px;
    margin-top: 5px;
}
/*remove underline for basic links*/
a {
  text-decoration: none;
  color: #1ab7d9;
}

a:hover {
  color: #10616d;
}

/*style navigation links*/
.link {
  color: #f75c54;
  margin-left: 10px;
}

.link:hover {
  color: #cc4836;
}
/*style navigation for the table*/
.pointer {
  margin-left: 10px;
}

.pointer.first {
  color: #000;
}
/*block of navigation of the table*/
.table-move {
  width: 100%;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}
/*style table*/
#stats-table table {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
  height: 350px;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
	vertical-align: middle;
}

#stats-table table thead {
  border-bottom: 1px solid black;
  font-size: 20px;
  padding: 10px;
}

th, td {
  vertical-align: middle;
  padding: 5px;
}

th span {
  color: #1a9cb0;
  visibility: hidden;
}

th:hover span {
  visibility: visible;
}

th:hover {
  background-color: #fafafa;
  border-bottom: 3px solid black;
}

/*use different style for rows*/
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f9f5f9;
}
/*galery of top of teachers layout*/
.gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 17%);
    gap: 40px;
}
/*point favorites of techers by star*/
div[data-fav] span {
  visibility: visible;
  z-index: 1;
}
/*style one teacher`s avatar*/
.avatar {
    overflow: hidden;
    margin: 0 auto;
    border: 3.5px solid #f99589;
    border-radius: 100%;
    width: 9.5em;
    height: 9.5em;
}

.avatar span {
  position: absolute;
  overflow: visible;
  color: #ecec02;
  margin-left: -27px;
  margin-top: -5px;
  visibility: hidden;
  font-size: 2.5em;
}  
.avatar img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    color: #f75c49;
    text-align: center;
    font-size: 30px;
}
  
.avatar:hover img {
    transform: scale(1.5);
    color: #cc4836;
}

.avatar img::before {
  content: attr(alt);
  display: block;
  margin-bottom: 150px;
  margin-top: 40px;
  padding-top: 10px;
}

.avatar img:hover::before {
  transform: none;
  padding-top: 35px;
  text-align: center;
  text-justify: auto;
}

.avatar:hover{
    border: 3.5px solid #cc4836;
}
/*dotted separator between filter panel*/
.dotted-line {
    height: 36px;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-left: 2px dotted #999999;
}
/*style horizontal lines*/
hr {
    border-top: 1px solid black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*style headings for popups*/
.head-pad h2, .head-pad .close{
  display: flex;
  justify-content: space-between;
  background-color: #464547;
  color: white;
  padding: 2px 16px;
  border-radius: 5px 5px 0 0;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/*edit section about*/
#about p{
  margin: 20px;
  text-align: justify;
}
/*map visibility (not finished)*/
#map {
  width: 100%;
  height: 1px;
  visibility: hidden;
  opacity: 0;
}

#map:target {
  height: 50%;
  visibility: visible;
  opacity: 1;
}
/*style buttons on the page*/
.button {
  float: right;
  font-size: 1em;
  padding: 10px;
  color: #f75c49;
  background: white;
  border: 1px solid #f75c49;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin-left: 10px;
  margin-right: 10px;
}

.button:hover {
  background: #f75c49;
  color: white;
}
/*overlay for popups*/  
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  z-index: 2;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
/*first popup with teacher`s form*/  
.popup {
  margin: 70px auto;
  background: #fff;
  border-radius: 5px;
  width: 25%;
  height: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}
/*create a cross to close the popup*/  
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.close:hover {
  color: #d80606;
}
/*edit content of popup*/
.popup .content {
  max-height: 100%;
  text-align: left;
  padding: 20px;
  overflow: auto;
}
/*use layput for form*/
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0;
}

.grid-1, .grid-3 {
  grid-column: 1 / span 2;
}

.grid-3 input[type="color"]{
  width: 4em;
}

.form-grid label {
  font-size: 16px;
}

.grid-1 input, .grid-2 input, .grid-1 select, .grid-2 select, .grid-1 textarea {
  width: 100%;
}
/*second popup for teacher`s info*/
.popup2 {
  margin: 70px auto;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  height: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}
/*edit content of popup2*/
.popup2 .content {
  max-height: 100%;
  text-align: left;
  padding: 20px;
  overflow: auto;
}

.t-col1 {
  grid-column: 1;
  grid-row: 1 / span 7;
}

.t-col2 {
  grid-column: 2;
  margin-left: 20px;
}

.t-col3 {
  grid-column: 3;
  grid-row: 1;
}

.teacher-grid h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: black;
}

.teacher-grid h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.teacher-grid p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}
/*set layout for teacher`s info*/
.teacher-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 0.5em;
  margin-bottom: 1em;
}

.content a {
  color: #89b8cd;
}

.content a[href="#map"] {
  text-decoration: 1px dashed underline;
}

.content img {
  width: 100%;
}

.content p, .content a {
  margin-bottom: 3px;
  margin-top: 3px;
}
/*add star*/
.star {
  font-size: 35px;
  color: #ecec02;
  text-align: right;
  vertical-align: top;
  background:none;
  border:none;
  margin:0;
  padding:0;
}
/*add an arrow (left-pointed)*/
.arrow {
  width: 2vw;
  height: 2vw;
  border: 0.5vw solid;
  border-color: #888888 transparent transparent #888888;
  transform: rotate(-45deg);
}
/*right-pointed arrow*/
.arrow.arr-right {
  transform: rotate(135deg);
}

.arrow:hover {
  border-color: #222222 transparent transparent #222222;
}

@media screen and (max-width: 1400px) {
  .gallery {
    grid-template-columns: repeat(5, 10%);
    gap: 10%;
    margin-bottom: 14%;
  }
  .popup {
		width: 70%;
		height: 80%;
		height: 90%;
	}
	.popup2 {
		width: 70%;
		height: 80%;
	}
}
  
@media screen and (max-width: 768px){
  #whole-page {
    max-width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
  }

  .avatar {
    width: 100px;
    height: 100px;
  }

  .gallery {
    grid-template-columns: repeat(4, 19%);
    column-gap: 5%;
    margin-bottom: 14%;
  }

  .avatar img::before {
    padding-top: 3px;
    margin-top: 30px;
  }

}