body {
	font-family: "Roboto", sans-serif;
	width: 100%;
}
#whole-page {
	box-shadow: 0px 5px 30px #dfdfdf;
	padding-bottom: 30px;
	padding-top: 10px;
	margin-right: 15%;
	margin-left: 15%;
	padding-left: 3%;
	padding-right: 3%;
}
#heading {
	color: #ffffff;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Baskerville Old Face';
	text-shadow: 1.5px 1.5px 0.3px #191919, -1.5px -1.5px 0.3px #f87262;
	&:hover {
		color: #eeeeee;
		text-shadow: 2px 2px 0 #191919, -2px -2px 0 #f87262;
	}
}
header {
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		div {
			float: right;
			input[type="text"] {
				width: 200px;
				height: 36px;
				&:hover {
					width: 400px;
				}
			}
		}
	}
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navigation {
	div {
		float: left;
	}
}
.favs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3em;
}
label {
	color: #999999;
	margin: 10px;
	font-size: 16px;
	&:hover {
		color: black;
	}
}
h2 {
	font-size: 30px;
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-top: auto;
	margin-bottom: 30px;
	color: #222222;
}
h4 {
	font-size: 22px;
	display: inline-block;
	max-width: min-content;
	font-family: "Roboto", sans-serif;
	margin-bottom: 8px;
}
h5 {
	color: #8897a7;
	font-size: 14px;
	margin-bottom: 5px;
}
h6 {
	font-size: 12px;
	margin-top: 5px;
}
a {
	text-decoration: none;
	color: #1ab7d9;
	&:hover {
		color: #10616d;
	}
}
.link {
	color: #f75c54;
	margin-left: 10px;
	&:hover {
		color: #cc4836;
	}
}
.pointer {
	margin-left: 10px;
}
.pointer.first {
	color: #000;
}
.table-move {
	width: 100%;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
#stats-table {
	table {
		margin: auto;
		margin-bottom: 30px;
		margin-top: 30px;
		width: 100%;
		height: 350px;
		font-size: 14px;
		border-collapse: collapse;
		text-align: center;
		vertical-align: middle;
		thead {
			border-bottom: 1px solid black;
			font-size: 20px;
			padding: 10px;
		}
	}
}
th {
	vertical-align: middle;
	padding: 5px;
	span {
		color: #1a9cb0;
		visibility: hidden;
	}
	&:hover {
		span {
			visibility: visible;
		}
		background-color: #fafafa;
		border-bottom: 3px solid black;
	}
}
td {
	vertical-align: middle;
	padding: 5px;
}
tbody {
	tr {
		&:nth-child(odd) {
			background-color: #ffffff;
		}
		&:nth-child(even) {
			background-color: #f9f5f9;
		}
	}
}
.gallery {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(5, 17%);
	grid-gap: 40px;
}
div[data-fav] {
	span {
		visibility: visible;
		z-index: 1;
	}
}
.avatar {
	overflow: hidden;
	margin: 0 auto;
	border: 3.5px solid #f99589;
	border-radius: 100%;
	width: 9.5em;
	height: 9.5em;
	span {
		position: absolute;
		overflow: visible;
		color: #ecec02;
		margin-left: -27px;
		margin-top: -5px;
		visibility: hidden;
		font-size: 2.5em;
	}
	img {
		width: 100%;
		transition: 0.5s all ease-in-out;
		color: #f75c49;
		text-align: center;
		font-size: 30px;
		&::before {
			content: attr(alt);
			display: block;
			margin-bottom: 150px;
			margin-top: 40px;
			padding-top: 10px;
		}
		&:hover {
			&::before {
				transform: none;
				padding-top: 35px;
				text-align: center;
				text-justify: auto;
			}
		}
	}
	&:hover {
		img {
			transform: scale(1.5);
			color: #cc4836;
		}
		border: 3.5px solid #cc4836;
	}
}
.dotted-line {
	height: 36px;
	width: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border-left: 2px dotted #999999;
}
hr {
	border-top: 1px solid black;
	width: 50%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.head-pad {
	h2 {
		display: flex;
		justify-content: space-between;
		background-color: #464547;
		color: white;
		padding: 2px 16px;
		border-radius: 5px 5px 0 0;
		margin: 0px;
		font-family: "Roboto", sans-serif;
	}
	.close {
		display: flex;
		justify-content: space-between;
		background-color: #464547;
		color: white;
		padding: 2px 16px;
		border-radius: 5px 5px 0 0;
		margin: 0px;
		font-family: "Roboto", sans-serif;
	}
}
#about {
	p {
		margin: 20px;
		text-align: justify;
	}
}
#map {
	width: 100%;
	height: 1px;
	visibility: hidden;
	opacity: 0;
	&:target {
		height: 50%;
		visibility: visible;
		opacity: 1;
	}
}
.button {
	float: right;
	font-size: 1em;
	padding: 10px;
	color: #f75c49;
	background: white;
	border: 1px solid #f75c49;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	margin-left: 10px;
	margin-right: 10px;
	&:hover {
		background: #f75c49;
		color: white;
	}
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	z-index: 2;
	opacity: 0;
	&:target {
		visibility: visible;
		opacity: 1;
	}
}
.popup {
	margin: 70px auto;
	background: #fff;
	border-radius: 5px;
	width: 25%;
	height: 80%;
	position: relative;
	transition: all 5s ease-in-out;
	.content {
		max-height: 100%;
		text-align: left;
		padding: 20px;
		overflow: auto;
	}
}
.close {
	position: absolute;
	top: 0px;
	right: 10px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	&:hover {
		color: #d80606;
	}
}
.form-grid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-gap: 0;
	label {
		font-size: 16px;
	}
}
.grid-1 {
	grid-column: 1 / span 2;
	input {
		width: 100%;
	}
	select {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
}
.grid-3 {
	grid-column: 1 / span 2;
	input[type="color"] {
		width: 4em;
	}
}
.grid-2 {
	input {
		width: 100%;
	}
	select {
		width: 100%;
	}
}
.popup2 {
	margin: 70px auto;
	background: #fff;
	border-radius: 5px;
	width: 50%;
	height: 60%;
	position: relative;
	transition: all 5s ease-in-out;
	.content {
		max-height: 100%;
		text-align: left;
		padding: 20px;
		overflow: auto;
	}
}
.t-col1 {
	grid-column: 1;
	grid-row: 1 / span 7;
}
.t-col2 {
	grid-column: 2;
	margin-left: 20px;
}
.t-col3 {
	grid-column: 3;
	grid-row: 1;
}
.teacher-grid {
	h3 {
		font-family: "Roboto", sans-serif;
		font-size: 30px;
		color: black;
	}
	h4 {
		font-family: "Roboto", sans-serif;
		font-size: 20px;
		font-weight: bold;
	}
	p {
		font-family: "Roboto", sans-serif;
		font-size: 12px;
	}
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-gap: 0.5em;
	margin-bottom: 1em;
}
.content {
	a {
		color: #89b8cd;
		margin-bottom: 3px;
		margin-top: 3px;
	}
	a[href="#map"] {
		text-decoration: 1px dashed underline;
	}
	img {
		width: 100%;
	}
	p {
		margin-bottom: 3px;
		margin-top: 3px;
	}
}
.star {
	font-size: 35px;
	color: #ecec02;
	text-align: right;
	vertical-align: top;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.arrow {
	width: 2vw;
	height: 2vw;
	border: 0.5vw solid;
	border-color: #888888 transparent transparent #888888;
	transform: rotate(-45deg);
	&:hover {
		border-color: #222222 transparent transparent #222222;
	}
}
.arrow.arr-right {
	transform: rotate(135deg);
}
@media screen and (max-width: 1400px) {
	.gallery {
		grid-template-columns: repeat(5, 10%);
		grid-gap: 10%;
		margin-bottom: 14%;
	}
	.popup {
		width: 70%;
		height: 80%;
		height: 90%;
	}
	.popup2 {
		width: 70%;
		height: 80%;
	}
}
@media screen and (max-width: 768px) {
	#whole-page {
		max-width: 100%;
		margin: 0;
		padding-left: 10%;
		padding-right: 10%;
	}
	.avatar {
		width: 100px;
		height: 100px;
		img {
			&::before {
				padding-top: 3px;
				margin-top: 30px;
			}
		}
	}
	.gallery {
		grid-template-columns: repeat(4, 19%);
		grid-gap: 5%;
		margin-bottom: 14%;
	}
}
